.newsLetter{
    min-height: 491px;
    margin-top: -70px;
    background: url("../../../build/svg/bg.svg")no-repeat center/cover;
    background-image: -moz-linear-gradient( 45deg, rgb(140,132,249) 0%, rgb(161,101,244) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(140,132,249) 0%, rgb(161,101,244) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(140,132,249) 0%, rgb(161,101,244) 100%);
    padding-top: 130px;
}


//
//.newsLetter__state{
//  font-family: 'Open Sans', sans-serif;
//  font-weight: bold;
//  font-size: 50px;
//  text-align: center;
//}



.newsLetter-wrap{
  //box-shadow: 0 0 1px 1px black;
  position: relative;
  width: inherit;
  min-height: 115px;
  //padding-top: 10px;
}


.newsLetter-wrap__state{
 font-family: 'Open Sans', sans-serif;
text-align: center;
  font-size: 50px;
  color: rgb(255,255,255);
  letter-spacing: 3px;
  line-height: 115px;
}

.newsLetter-title{
  font-family: 'Roboto', sans-serif;
  font-size: 150px;
  line-height: 26px;
  font-weight: 900;
  color: rgba(254, 254, 254, 0.039);
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  word-spacing: -45px;
  letter-spacing: -7px;
  position: absolute;
  left: 0;
  top:35px;
}

.search {
  width: 847px;
  border: 1px solid #000;
  min-height: 71px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 54px auto 0;
  background-color: rgb(255,255,255);
  padding-right: 6px;
}

input[type="search"] {
  border: none;
  outline: none;
  -webkit-appearance: none;
  width: 649px;
  min-height: 71px;
  vertical-align: middle;
  border-radius:40px;
  font-size: 20px;
  padding: 0 6px 0 27px;
}


input[type="submit"] {
  width: 198px;
  height: 60px;
  border-radius:40px;
  background-image:url('../../../build/svg/SearchBtn.svg');
  cursor:pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color:rgb(255,255,255);
  border:none;
}